language: go

go:
  - "1.8.x"
  - "1.9.x"
  - "1.10.x"
  - master

before_install:
  - go get -t -v ./...

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic
  - go test -bench=. -benchmem=true -run=none ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)