language: go

go:
  - "1.8.x"
  - "1.9.x"
  - "1.10.x"
  - "1.11.x"
  - master

before_install:
  - go get -t -v ./...

script:
  #- go test -cpu=16 -bench=. -benchmem=true -run=none ./...
  - go test -race -cpu=1,16 -coverprofile=coverage.txt -covermode=atomic -v

after_success:
  - bash <(curl -s https://codecov.io/bash)
